[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
default-storage-engine=INNODB
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=2000

# 服务器 id，必须唯一
server-id=1
# 二进制文件
log-bin=binlog
# 写库忽略，读库使用 replicate-ignore-db
binlog-ignore-db=mysql,information_schema,performance_schema,sys
# 与硬盘同步，如果是关键服务，可以设置为 1
sync_binlog=100
# 跳过所有错误，继续执行复制操作
slave-skip-errors=all     
