[client]
default-character-set=utf8mb4
[mysql]
default-character-set=utf8mb4
[mysqld]
default-storage-engine=INNODB
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=2000

# 服务器 id，必须唯一
server-id=2
# 二进制文件
log-bin=binlog
log-bin-index=binlog.index
# 跳过所有错误，继续执行复制操作
slave-skip-errors=all    
# 只读
read_only=1

